section
  h1 YOUR NEW PRESENTATION

section
  :markdown-it
    ## Markdown Support

    You can write markdown if you feel like it.

section("data-background"="https://s3.amazonaws.com/acceptance-tests-cocoaheads-talk/gears.gif", "data-background-opacity"=0.6)
  h3 You can use background images with configurable opacity

section
  h2 Fragments

  p.fragment And
  p.fragment Fragments
  p.fragment Are
  p.fragment Done Like This
